/*Estilos generales */
:root {
  /*Colores modo*/
  --bg-color: #f5f6f7;
  --text-color: #121212;
  --sec-text-color: #9ca3af;
  --card-bg: #e5e5e5;
  --btn-bg: #121212;
  --btn-text: #e5e5e5;
  --icon-color: #121212;
  --overlay-color: #121212;
  --contact-text: #f5f6f7;
  --contact-bg: #121212;
}

body.dark-mode {
  /* Colores modo oscuro */
  --bg-color: #121212;
  --text-color: #e5e5e5;
  --sec-text-color: #9ca3af;
  --card-bg: #e5e5e5;
  --btn-bg: #e5e5e5;
  --btn-text: #121212;
  --icon-color: #e5e5e5;
  --overlay-color: #e5e5e5;
  --contact-text: #121212;
  --contact-bg: #f5f6f7;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.texto-principal {
  color: var(--text-color);
}

.texto-secundario {
  color: var(--sec-text-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-weight: bold;
  text-decoration: underline;
}

.seccion-texto {
  font-size: 1.5rem;
}

.btn-dark {
  font-size: 1.1rem;
  margin-bottom: 40px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
}

.seccion-descripcion {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-link {
  color: var(--text-color);
}

/*Barra de navegacion*/
.navbar {
  padding: 2rem;
  background-color: var(--bg-color);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.nav-link:hover {
  color: var(--sec-text-color);
}

/* Hero */

.hero {
  min-height: 650px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-perfil {
  width: 100%;
  height: auto;
  margin: 50px;
  max-width: 350px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: var(--text-color);
}

.hero .columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  min-width: 350px;
}

.hero .columna h1 {
  font-weight: bold;
}

.hero .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Sobre mi */
.sobre-mi {
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 1100px;
  text-align: left;
}

.email {
  word-break: break-all;
}

/* Habilidades */
.habilidades {
  padding: 40px;
}

.habilidades h3 {
  margin: 30px;
  font-weight: bold;
}

.habilidades .card {
  aspect-ratio: 5/4;
  width: 100%;
  font-size: 2.5rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg);
}

.habilidades .card h5 {
  font-weight: bold;
}

/* Proyectos */
.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
  justify-content: center;
}

.overlay i {
  color: var(--overlay-color);
  font-size: 60px;
  margin: 10px;
}

/* Articulos */
.articulos {
  min-height: 500px;
  padding: 30px;
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articulos .card-header {
  font-weight: bold;
}

.articulos a {
  text-decoration: none;
}

/* Testimonios */
/*
.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: grey;
}

*/
/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: var(--contact-bg);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
  color: var(--text-color);
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .description {
  font-size: 1.2rem;
}

.contacto button {
  color: var(--btn-text);
  font-weight: bold;
  background-color: var(--contact-bg);
  border: 2px solid var(--btn-text);
  padding: 1.2rem 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2 ease-in-out;
}

.contacto button:hover {
  background-color: var(--btn-text);
  color: var(--btn-bg);
  border: 2px solid var(--bg-color);
}

.contacto button i {
  color: var(--btn-text);
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: var(--btn-bg);
}

/* Footer */

footer {
  min-height: 200px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*
.footer-icono {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
}*/

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 20px;
  border: 2px solid var(--icon-color);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: var(--icon-color);
  font-size: 1.5rem;
  transition: all 0.2 ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
}

.iconos-redes-sociales a:hover i {
  color: var(--bg-color);
}

.derechos-de-autor {
  font-size: 15px;
  color: var(--sec-text-color);
  padding: 20px;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

/*@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}*/

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .habilidades .card {
    margin-bottom: 5px;
  }
}

/* #hero img {
  translate: -100%;
  opacity: 0;
  transition: 800ms ease;
}

#hero.show img {
  translate: 0;
  opacity: 1;
}
 */
.animacion {
  opacity: 0;
  transform: translateY(40px);
  transition:
    all 1s ease,
    transform 1s ease;
}

.animacion-wrapper {
  position: relative;
  overflow: hidden;
}

.animacion.show {
  opacity: 1;
  transform: translateY(0);
}
