/*Barra de navegacion*/

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;

}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/*Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: "Roboto Mono", monospace;

}

/* Hero */

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}
.hero-imagen-pergil {
    width: 200px;
    height: 200px;
    margin: 50px;    

}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

/* Responsive */


@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}